


.editForm{
  display: flex
}

.editForm-left{
  flex:50%
  padding-right: 50px
}

.editForm-right{
  flex:50%
  padding-left: 50px
}

.editFooter{
  bottom: 0;
  position:relative;
  align-content: center;
  width: 100%;
}


.swal2-styled {
  border: 0
  border-radius: .25em
  background: initial
  background-color: #2778c4
  color: #fff
  font-size: 1em
  margin-right: 0
  height: 80%
}