tr.rowStyle:hover {
  background-color: #8fcfea
}

/* table heading */

.tableHeading{
  display: flex
}
.tableHeading-left{
  flex:70%
}
.tableHeading-right{
  flex:30%
}
.tableHeading-text{
  font-size: 3em
  color: #343a40
}
